<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <main>
                        <form action="/account/register" method="post">
                            <label for="account_firstname">First Name:</label>
                            <input type="text" id="accountfirstname" name="firstname" required value="<%=locals.account_firstname%>">
                            <label for="account_lastname">Last Name:</label>
                            <input type="text" id="accountlastname" name="lastname" required value="<%=locals.account_lastname%>">
                            <label for="account_email">Email Address:</label>
                            <input type="email" id="accountemail" required value="<%=locals.account_email%>">
                            <label for="account_password">Password:</label>
                            <input type="password" id="accountpassword" name="password" required data-trail="password"
                                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$">
                            <button type="button" id="toggle-password">Show Password</button><br><br>
                            <span>Note: All fields are required. Password must be at
                                least 12 characters long, contain at least 1 capital
                                letter, 1 number, and 1 special character.</span>
                            <button type="submit">Register</button>
                        </form>

                        <script>
                            const passwordInput = document.getElementById('password');
                            const togglePasswordButton = document.getElementById('toggle-password');

                            togglePasswordButton.addEventListener('click', () => {
                                if (passwordInput.type === 'password') {
                                    passwordInput.type = 'text';
                                    togglePasswordButton.textContent = 'Hide Password';
                                } else {
                                    passwordInput.type = 'password';
                                    togglePasswordButton.textContent = 'Show Password';
                                }
                            });
                        </script>
                    </main>